{% extends "blog/base_blog_archive.html" %}

{% block title %}{{ block.super }}: Blog posts written by {% if author.get_full_name %}{{ author.get_full_name }}{% else %}{{ author }}{% endif %}{% endblock %}

{% block content_title %}
	<h2>Blog posts <a href="{% url 'blog_authors_list' %}">written</a> by {% if author.get_full_name %}{{ author.get_full_name }}{% else %}{{ author }}{% endif %}</h2>
{% endblock %}

{% block content %}
	<div id="blog_posts">
		{% for post in post_list %}{% include "blog/_post.html" %}{% endfor %}
	</div>
	
	{% if page_obj.has_other_pages %}
		<ul id="pagination">
			{% if posts.has_previous %}
				<li class="previous on"><a href="{% url 'blog_categories_detail_paginated' category.slug posts.previous_page_number %}" title="Page {{ posts.previous_page_number }}">Previous</a></li>
			{% else %}
				<li class="previous off">Previous</li>
			{% endif %}
			{% for page in page_obj.page_range %}
				{% ifequal page page_obj.page_number %}
					<li class="active">{{ page }}</li>
				{% else %}
					<li><a href="{% url 'blog_categories_detail_paginated' category.slug page %}">{{ page }}</a></li>
				{% endifequal %}
			{% endfor %}
			{% if posts.has_next %}
				<li class="next on"><a href="{% url 'blog_categories_detail_paginated' category.slug posts.next_page_number %}" title="Page {{ posts.next_page_number }}">Next</a></li>
			{% else %}
				<li class="next off">Next</li>
			{% endif %}
		</ul>
	{% endif %}
{% endblock %}

