{% load comments %}

{% get_comment_count for post as comment_count %}

<div id="blog_post_{{ post.id }}">
	<h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
	<div class="meta">
		<p class="alt">
			Published by <span class="vcard"><span class="fn">{{ post.author.get_full_name }}</span></span>
			<span class="published" title="{{ post.published }}">{{ post.published|timesince }}</span> ago{% if post.categories.all %} in <span class="categories">{% for category in post.categories.all %}<a href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %}, {% endif %}{% ifequal forloop.revcounter0 1 %} and {% endifequal %}{% endfor %}</span>{% endif %}.
			<span class="comment_count"><a href="{{ post.get_absolute_url }}#comments">{{ comment_count }} Comment{{ comment_count|pluralize }}</a></span>
		</p>
		{% if post.tags %}<p class="alt tags">
			<span style="display:none;">Tags</span>
			{% for tag in post.tags.all %}<a href="{% url blog_tags_detail tag.slug %}" rel="tag">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% ifequal forloop.revcounter0 1 %} and {% endifequal %}{% endfor %}
		</p>{% endif %}
	</div>
	{% if post.tease %}<div class="entry-summary">{{ post.tease|striptags|linebreaks }}</div>{% else %}<div class="entry-content">{{ post.body_html|safe }}</div>{% endif %}
</div>