{% extends "blog/base_blog.html" %}

{% block title %}{{ block.super }}: Blog{% endblock %}

{% block content_title %}
	<h2>Blog</h2>
{% endblock %}

{% block content %}
	<div id="blog_posts" class="hfeed">
		{% for post in post_list %}{% include "blog/_post.html" %}{% endfor %}
	</div>
	
	{% if is_paginated %}
		<ul id="pagination">
			{% if page_obj.has_previous %}
				<li class="previous on"><a href="{% url 'blog_index_paginated' page_obj.previous_page_number %}" title="Page {{ page_obj.previous_page_number }}">Previous</a></li>
			{% else %}
				<li class="previous off">Previous</li>
			{% endif %}
			{% for page in page_obj.page_range %}
				{% ifequal page page_obj.page_number %}
					<li class="active">{{ page }}</li>
				{% else %}
					<li><a href="{% url 'blog_index_paginated' page %}">{{ page }}</a></li>
				{% endifequal %}
			{% endfor %}
			{% if page_obj.has_next %}
				<li class="next on"><a href="{% url 'blog_index_paginated' page_obj.next_page_number %}" title="Page {{ page_obj.next_page_number }}">Next</a></li>
			{% else %}
				<li class="next off">Next</li>
			{% endif %}
		</ul>
	{% endif %}
{% endblock %}